<div id="menu-side" class="menu-slide">
  <a href="javascript:void(0)" class="menu-x" onclick="closeMenu()">&times;</a>
  <a href="/work">work</a>
  <a href="/about">about</a>
  <a href="/contact">contact</a>
</div>